.group:after {
    content: "";
    clear: both;
    display: table;
}
body {
    background-size: 100%;
    background-color: black;
}
img {
    
    display: block;
    float: left;
    
    
}
.header {
    width: 50%;
    margin: auto;
    color: #cccccc;

}
.gameBody {
    width: 100%;
}
.gameTitle {
    text-align: center;
    font-size: 70px;
  margin: 20px 0;
  padding: 10px;
}
.section{
    width: 100%;
    font-size: 40px;
    color: #cccccc;
    clear: both;
}
.images {
    width: 100%;
    height: 100px;
    margin: auto;
    text-align: center;
}
